
body {
        display: flex;
        flex-direction: column;
        background-image: none;
        background-color: #DEDAD4;
        background-position: center;
        height: 100vh; 
        font-family: "Inter", sans-serif;
        font-weight:100;
        font-style:normal;
        font-variation-settings:
          "slnt" 0;
}

header {
    display: flex;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}


header nav ul li a {
    text-decoration: none;
    color: #39291A;
}

a:visited {
    color: #39291A;
}

main {
    display: flex;
    flex-direction: column;
    align-items: top;
    text-align: center;
}

#logo {
    margin-right: auto;
    height: 75px;
    width: 75px;
}

#title {
    margin: 0px 0px 25px 0;
    font-weight: 100;
    font-size: 50px;
}

#subtitle {
    font-size: 18px;
    font-weight: 100;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

@media only screen and (max-width: 768px) {

    header nav {
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-end;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #title {
        font-size: 45px;
        padding-top: 10px;
    }

    #subtitle {
        font-size: 16px;
    }

    #soap {
        width: 250px;
        height: 250px;
    }

    footer {
        font-size: 12px;
    }    
}
